* {
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    scroll-behavior: smooth;
}

.full-size {
    width: 100vw;
    height: 100vh;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    background: #363739;
    color: white;
    padding: 20px 0;
    text-align: center;
}

p {
    font-size: 1.2rem;
    line-height: 2rem;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-down-icon {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 20px;
    border: 3px solid #363739;
    border-radius: 50%;
    cursor: pointer;
}

.logo {
    max-width: 70%;
    margin: 0 auto;
    display: block;
}

.background-1,
.background-2,
.background-3,
.background-4,
.background-5 {
    background-size: 100%;
    background-position-y: 50%;
    color: black;
    text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white, 2px 2px 0 white;
}

.background-1 {
    background-image: url("img6.JPG");
}

.background-2 {
    background-image: url("img3.JPG");
}

.background-3 {
    background-image: url("img5.JPG");
}

.background-4 {
    background-image: url("img7.JPG");
}

.background-5 {
    background-image: url("img14.JPG");
}

.images-row {
    width: 100%;
    overflow: visible;
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    margin: 100px 0;
    padding: 20px;
    animation: linear 60s image-strip-scroll infinite alternate;
    position: relative;
}

@keyframes image-strip-scroll {
    from { left: 0; }
    to { left: -200%; }
}

.images-row img {
    height: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
}
